
/*  resize slider windows  */

/*.owl-carousel .owl-stage-outer {
  height: 525px;

}
.owl-carousel .owl-item img {
  height: 510px;
}

/*  resize gallery-container  */

/*.gallery .owl-carousel .owl-stage-outer {
  height: 770px;

}
.gallery .owl-carousel .owl-item img {
  height: 510px;
}

/*  resize our stannds gallery-container  */

/*.our-stands .owl-carousel .owl-stage-outer {
  height: 800px;

}
*/

$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
