<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= name %></p>
    <img src="../public/images/banner.jpg" alt="">
    <div class="owl-carousel">
  <div><img src="/images/banner.jpg" alt=""></div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
</div>
    <script src="../../backend/public/javascripts/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../../backend/public/javascripts/owl.carousel.js" type="text/javascript"></script>
  </body>
</html>
