@media all and (max-width: 1200px) {
  .our-stands .gallery-block .img-line .image {
    width: 30%;
    height: 100px%;
  }
}
@media all and (max-width: 912px) {
  .our-stands .gallery-block .img-line .image {
    width: 28%;
    height: 100px%;
  }
}


@media all and (max-width: 800px) {
  .form-container {
    width: 30%;
    min-width: 370px;
  }
  form .check-boxes {
    min-width: 369px;
    margin-bottom: 10px;
  }
  .arr-left,
  .arr-right {
    display: none;
  }
}

@media all and (max-width: 588px) {
  .our-stands .gallery-block .img-line .image {
    width: 95%;
    height: 100px%;
  }
}

@media all and (max-width: 440px) {

  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .picture-container {
    min-width: 100%;
  }
  header .logo {
    padding-top: 100px;
  }
  header .botanica ul li {
    min-width: 100%;
    margin-bottom: 30px;
  }
  .slider-min {
    display: block;
    width: 100%;
  }
  .snidanok .kava-break-container,
  .kava-break .kava-break-container,
  footer .social-link a,
  .our-stands,
  .about-us,
  .gallery,
  .furshet .container-tabs,
  .nasha-ija .container-tabs,
  header .arrow,
  header .text-block {
    display: none;
  }
  .kino-botanica {
    height: 300px;
  }
  .kino-botanica h2 {
    font-size: 1.5rem;
    padding-top: 0;
    color: #fff;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: -1%;
  }
  .kino-botanica .video-screen {
    min-width: 300px;
    height: 203px;
    margin-top: 7px;
    border: 5px solid #000;
    left: -4px;
  }
  .form-container {
    width: 30%;
  }
  form .form-container input {
    width: 100%;
  }
  footer .footer-container,
  .kava-break .kava-container,
  .snidanok .snidanok-container {
    max-width: 260px;
    min-width: 0;
    position: relative;
  }
  footer {
    padding-bottom: 40px;
  }
  footer .footer-container>p {
    padding: 20px 10px;
  }
  footer .social-link {
    margin-bottom: 60px;
  }
  footer .social-link .fb {
    background: url(../img/fb.jpg) 0px 0px no-repeat;
    position: absolute;
    top: 50%;
    left: 28%;
    width: 100%;
    height: 100%;
  }
  footer .social-link .insta {
    background: url(../img/insta.jpg) 0px 0px no-repeat;
    position: absolute;
    top: 50%;
    left: 58%;
    width: 100%;
    height: 100%;
  }

  footer .footer-container h4 {
    font-size: 1.2rem;
  }
  footer .social-link .mail a {
    font-size: 1rem;

  }
}
